/* Define the keyframe animation */
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex,
    
  }

  .loader img{
    border-radius: 50%;
  }
  /* Styling for the loading spinner */
  .loading-spinner {
    border: 6px solid rgb(255, 255, 255);
    border-left-color: #000000; /* Change color as needed */
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: loading 1s linear infinite; /* Apply the animation */
   
   /* Specify the path to your image */

   
    transform: translate(-50%, -50%);
  }
  